.section-container-form{
    padding: 3rem 1rem;
    background-color: var(--color-background);
}

@media screen and (max-width: 480px) {
    .section-container-form{
        padding: 3.25rem 2.25rem;
    }
}