.section-container-pay{
    padding: 5rem;
    background-color: var(--color-background);
}

@media screen and (max-width: 480px) {
    .section-container-pay{
        padding: 3.25rem 2.25rem;
    }
}